@model Registration_and_authentication.Models.ErrorViewModel

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">@Model.RequestId</h2>
<p>There was an error processing your request. Please try again later.</p>
