@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-primary" href="/Account/Register">Register</a>
        <a class="btn btn-secondary" href="/Account/Login">Login</a>
    </p>
</div>
