namespace MyCollection.Views.Account
{
    public class Edit
    {
    }
}
<a href="c:\users\user\source\repos\mycollection\views\account\edit.cshtml">c:\users\user\source\repos\mycollection\views\account\edit.cshtml</a>